.mycard {
  margin-top: 1em;
  padding-left: 0px;
  padding-right: 0px;
}

.mybutton {
  margin-top: 18%;
  height: 60%;
  width: 90%;
}

.mybutton2 {
  margin-top: 10%;
  height: 60%;
}

.mybutton3 {
  margin-top: 32%;
  height: 60%;
  width: 100%;
}